In [1]:
pip install sqlalchemy psycopg2-binary

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: psycopg2-binary in c:\users\zubay\appdata\roaming\python\python312\site-packages (2.9.10)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [21]:
from sqlalchemy import create_engine
from sqlalchemy import text
import pandas as pd

In [22]:
df = pd.read_csv("online_retail_cleaned.csv")

In [23]:
engine = create_engine("postgresql://postgres:postgres@localhost:5432/online_retail")

In [28]:
#df.to_sql("retail_data", engine, if_exists="replace", index=False)

In [29]:
pd.read_sql("SELECT * FROM retail_data LIMIT 1;", engine).columns

Index(['invoice', 'stockcode', 'description', 'quantity', 'invoicedate',
       'price', 'customer_id', 'country', 'is_cancelled', 'total_price'],
      dtype='object')

In [30]:
pd.read_sql("SELECT * FROM retail_data LIMIT 5;", engine)

,invoice,stockcode,description,quantity,invoicedate,price,customer_id,country,is_cancelled,total_price
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,False,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,False,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,False,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,False,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,False,30.0

In [31]:
with engine.connect() as conn:
    conn.execute(text("""
        CREATE OR REPLACE VIEW RFM_SEGMENT AS
WITH RFM_INITIAL_CALC AS (
SELECT
    customer_id,
    ROUND(SUM(total_price::numeric),0) AS MonetaryValue,
    COUNT(DISTINCT invoice) AS Frequency,
	DATE_PART('day', (
        SELECT MAX(invoicedate)::timestamp FROM retail_data
    ) - MAX(invoicedate)::timestamp) AS Recency
From retail_data
WHERE is_cancelled = FALSE AND customer_id IS NOT NULL
GROUP BY customer_id
),
RFM_SCORE_CALC AS (
SELECT 
	C.*,
	NTILE(4) OVER (ORDER BY C.Recency DESC) AS RFM_RECENCY_SCORE,
	NTILE(4) OVER (ORDER BY C.Frequency ASC) AS RFM_FREQUENCY_SCORE,
	NTILE(4) OVER (ORDER BY C.MonetaryValue ASC) AS RFM_MONETARY_SCORE
FROM 
RFM_INITIAL_CALC AS C
)
-- Final RFM view
SELECT
    R.customer_id,
    (R.RFM_RECENCY_SCORE + R.RFM_FREQUENCY_SCORE + R.RFM_MONETARY_SCORE) AS TOTAL_RFM_SCORE,
    CONCAT(
		'', R.RFM_RECENCY_SCORE::text, R.RFM_FREQUENCY_SCORE::text, R.RFM_MONETARY_SCORE::text
    ) AS RFM_CATEGORY_COMBINATION
FROM 
RFM_SCORE_CALC AS R; 

"""))

In [32]:
pd.read_sql("select * From RFM_SEGMENT Limit 10;",engine)

   customer_id  total_rfm_score rfm_category_combination
0      17592.0                3                      111
1      12636.0                3                      111
2      17818.0                3                      111
3      14654.0                3                      111
4      15833.0                3                      111
5      13526.0                6                      123
6      17056.0                3                      111
7      17087.0                3                      111
8      12934.0                3                      111
9      14980.0                3                      111